html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif !important;
  overflow: hidden;
}

html {
  background-color: #fafafa;
  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ); /* Disable IOS grey wrapper on focus */
}

body {
  position: fixed;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

div {
  display: block;
}

/* Disabled orange highlight on focus */
span:focus {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

#root_container {
  width: 100%;
  height: 100%;
}



